body{
  background-color: rgb(255, 231, 255);
}
form{
  padding: 20px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea:not(.browser-default):focus:not([readonly]){
    border-color: purple;
    box-shadow: none;
}
input[type=text]{
  color: purple;
}
.grid-content{
  width: 300px;
  margin:0 0 50px;
}
img{
  width: 100%;
  height: 320px;
}
.link-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download{
  margin-left: 5px;
}
.download-link{
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-btn{
  outline: none;
  border: none;
  background: none;
  margin-right: 5px;
  padding: 5px 10px;
}
.search-btn{
  outline: none;
  border: none;
  background: none;
  margin-right: 1px;
  padding: 8px 13px 9px;
}
.body-container{
  min-height: 100vh;
}
.add-button{
  margin-bottom: 20px;
}